body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

img[src*="nebula1"]{
  margin: 10px 10px 10px 0px;
  width: 35%;
  float: left;
}

img[src*="nebula2"]{
  margin: 10px 0px 10px 10px;
  width: 35%;
  float: right;
}

